<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head></head>
<body>
<th:block th:fragment="scripts">
    <script th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{js/chart.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script th:src="@{/js/script.min.js}"></script>
    <script th:src="@{js/main.js}"></script>
</th:block>
</body>
</html>


