<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head></head>
<body>
<th:block th:fragment="copyright">
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Все права защищены © Коммунальные услуги 2020</span></div>
        </div>
    </footer>
</th:block>

<th:block th:fragment="scripts">
    <script th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{js/chart.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script th:src="@{/js/script.min.js}"></script>
    <script th:src="@{js/main.js}"></script>

    <script type="text/javascript">
    function getDate()
        {
        var d = new Date();

        var day=new Array("Воскресенье","Понедельник","Вторник",
        "Среда","Четверг","Пятница","Суббота");

        var month=new Array("января","февраля","марта","апреля","мая","июня",
        "июля","августа","сентября","октября","ноября","декабря");

        var current_date = document.getElementById('current_date');
        if (current_date != null){
                current_date.innerHTML = day[d.getDay()]+"</br> " +d.getDate()+ " " + month[d.getMonth()]
                + " " + d.getFullYear() + "г.";
            }
        }
    getDate();
    </script>
</th:block>
</body>
</html>