<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>:: Коммунальные услуги ::</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-tokenfield.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap-tokenfield.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
</body>
</html>
