<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head></head>
<body>
<th:block th:fragment="menu">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0" style="background-color: rgb(0,0,0);">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                <div class="sidebar-brand-text mx-3"><span>Услуги</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="nav navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item" role="presentation"><a class="nav-link" href="index"><i class="fas fa-tachometer-alt"></i><span>Главная</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="profile"><i class="fas fa-user"></i><span>Профиль</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="table"><i class="fas fa-table"></i><span>Таблица</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="login"><i class="far fa-user-circle"></i><span>Вход</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="register"><i class="fas fa-user-circle"></i><span>Регистрация</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="404"><i class="fas fa-user-circle"></i><span>Страница с ошибкой 404</span></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="blank"><i class="fas fa-user-circle"></i><span>Пустая страница</span></a></li>
            </ul>
            <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
        </div>
    </nav>
</th:block>
</body>